@page
@model DeleteSubmissionModel
@{
}
<main id="main" tabindex="-1">
<div class="govuk-body">
    <div class="govuk-back-link">
        <a class="govuk-link" asp-page="/Submissions/FindSubmission">Back</a>
    </div>
    <div class="govuk-main-wrapper">
        <h1 class="govuk-heading-m">Delete</h1>
        <span class="govuk-error-message">@Html.ValidationMessage("CustomError")</span>
        <h2 class="govuk-heading-l">Are you sure you want to permanently delete this entry?</h2>
        <form method="post">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        IMO
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.msd1.Imo
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Year
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.msd1.Year
                    </dd>
                </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Quarter
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.msd1.Quarter
                    </dd>
                </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Number of Voyages
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.msd1.NumVoyages
                    </dd>
                </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Reporting Port
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.msd1.ReportingPort
                    </dd>
                </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Associated Port
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.msd1.AssociatedPort
                    </dd>
                </div>
            </dl>
            <button class="govuk-button" type="submit"  asp-route-id=@Model.msd1.Msd1Id >
                Delete
            </button>
        </form>
    </div>
</div>
</main>